
body {
    font-family: 'EB Garamond';
    background-color: #fbb969;
    color: #353535;
    margin: 0px;
}

header {
    background-color: #f2654b;
    height: 100px;
    margin-bottom: 50px;
}

main {
    text-align: center;
}

.menu-buttons {
    margin-right: 15px;
    float: right;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.menu-button {
    float: left;
    color: #353535;
    text-align: center;
    text-decoration: none;
    padding: 15px;
    font-size: 18px;
    line-height: 15px;
    font-weight: bold;
    position: relative;
}

.menu-button::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 10px;
    right: 10px;
    height: 2px;
    background-color: #353535;
    transition: all 0.2s ease-in-out;
    transform: scaleX(0);
    transform-origin: center;
}

.menu-button:hover::after {
    transform: scaleX(1);
}
.menu-button.active::after {
    transform: scaleX(1);
}

.text-link:hover::after {
    transform: scaleX(1);
}

.menu-button:hover {
    color: #353535;
}

.menu-button.active {
    color: #353535;
}

.menu-button.active::after {
    transform: scaleX(1);
}



.logo {
    height: 75px;
    padding-left: 15px;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.home-body {
    text-align: center;
}

.start-game-body {
    
}


.text-link {
    color: #353535;
}

.text-link:hover {
    color: #696969;
}



