{% extends "rules-htp-in-game-layout.html" %}

{% block title %}
    How to Play
{% endblock %}


{% block main %} 

<body>

    <div class="home-body">

        <h2> 
            How To Use this Website
        </h2>
        <p>
            So you want to play Secret Hitler, but you are missing some role cards or simply want to 
            make the role distribution process quicker? You have come to the right place!
        </p>
        <p>
            Usage is quite simple, <a class="text-link" href="/start-game">Start a Game</a> and select the 
            number of players. Role distribution is based on the 
            <a class="text-link" href="/start-game">Rules of the game</a>. So, for example, 5 player games 
            will have 1 Hitler and 1 Fascist, while 10 player games will have 1 Hitler and 3 Fascists.
        </p>
        <p>
            Next, you will be prompted to enter player names. You can leave one or all of these blank, 
            and the default names will be Player 1, Player 2, etc... It's recommended that you enter the
            names in order of where you are seated, as will be made clear in the next step.
        </p>
        <p>
            Following this, the role distribution process will begin. The first player will be asked 
            to take the device to see their role. It's important to make sure no one else is looking, 
            this is secret! After having seen their role, the player clicks Sounds Good! and passes the device 
            to the second player (which is why inputting player names in seating order is easier!) There is 
            also a button to reset roles. Someone saw a role they weren't supposed to? Just click it, player 
            names will be the same and roles reshuffled!
        </p>
        <p>
            After the last player has seen their role, you will be redirected to a page with a list of all
            players and buttons to reveal their Party Membership or their Secret Role. This can be useful 
            when a President has Investigative Powers or a player is killed!
        </p>
        <p>
            As a final remark, it is recommended that users do not use their browser's back button while in 
            game since it could produce unexpected behavior. You will notice there is a Restart button and a 
            Quit button, as well as Rules and How to Play tabs in game for easy access
        </p>
        <p>
            Hope you enjoy!
        </p>
        <!-- <a href="/start-game"><button>Start Game</button></a> -->
        
    </div>
    <a href="{{ url_for('routes.game_arena', game_id=game_id) }}"><button>Continue Game</button></a>

</body>

{% endblock %}