{% extends "layout.html" %}

{% block title %}
    Select Player Names 
{% endblock %}


{% block main %}

    <div>
        <h4>Enter all player names</h4>
        <p>Enter unique names less than 20 characters long. Empty boxes will default to Player 1, Player 2, etc.</p>
        <br>

        {% with messages = flash_messages %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form id="player-form" action="/player-names" method="post">
            {% for i in range(number_players) %}
                <input class="name-input" type="text" name="player{{ i+1 }}" placeholder="Player {{ i+1 }}">
                <br>
            {% endfor %}
            <br>
            <button type="submit">Start Game</button>
        </form>

        <script src="static/js/names.js"></script>

    </div>    

{% endblock %}