{% extends "game-layout.html" %}

{% block title %}
    Role Distribution  
{% endblock %}


{% block main %}   
    <body>
        <h1>Your Role</h1>

        <div id="player-role"></div>
        <div id="ally-statement" style="font-weight: bold;"></div>
        <div id="allies-roles"></div>
        <br>
        <div><button id="next-button">Sounds good!</button></div>
        <br>
        <div><button id="reset-roles" style="font-size: 12px;">Reset roles</button></div>

        <script src="static/js/roles.js"></script>
    </body>

{% endblock %}