{% extends "game-layout.html" %}

{% block title %}
    Role Distribution 
{% endblock %}

{% block main %}   

    <body>
        <h1>Get Ready</h1>
        <p id="player-name"></p>
        <br>
        <div><button id="reveal-button">Reveal Role</button></div>
        <br>
        <div><button id="reset-roles" style="font-size: 12px; background-color: red;">Reset Roles</button></div>
        
        <script>
            var gameId = "{{ game_id }}";
        </script>
        <script src="{{ url_for('static', filename='js/roles.js') }}"></script>
    </body>

{% endblock %}