{% extends "layout.html" %}

{% block title %}
    Start Game 
{% endblock %}


{% block main %}

    <div>
        <h4>Make sure to have read the <a class="text-link" href="/how-to-play">HOW TO PLAY</a> section!</h4>
    
        {% with messages = flash_messages %}
            {% if messages %}
                <ul class="flash-messages">
                    {% for category, message in messages %}
                        <li class="{{ category }}">{{ message }}</li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endwith %}

        <form id="game-form" action="/start-game" method="post">
            <select name="number-players">
                <option disabled selected>Number of players</option>
                {% for players in number_players %}
                    <option value="{{ players }}">{{ players }}</option>
                {% endfor %}
            </select>
            <div id="player-names"></div>
            <button type="submit" id="confirm-button">Confirm</button>
        </form>
    </div>

{% endblock %}